body {
    margin:0;
    padding: 0px;
    border: 0px;
   font-family: 'Bebas Neue', cursive;
} 

.title {
    font-size: 80px;
    text-align: center;
    color: rgb(26, 60, 160);
    margin: 30px 20px 15px 20px;
    letter-spacing: 5px;

}

.links-grid {
    border: 5px solid rgb(26, 60, 160);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border-radius: 4px;
    
    
}
 
.nav-link {
    text-align: center;
    border-right: 5px solid rgb(26, 60, 160);
   
}   

.nav-link a {
    font-family: 'Bebas Neue', cursive;
    color: rgb(26, 60, 160);
    text-decoration: none;
    font-size: 35px;
    transition: all .4s ease;
    letter-spacing: 5px;
    
}

.nav-link a:hover {
   letter-spacing: 3px;
   transition: all .4s ease;
}

.flexgrid {
    display: flex;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.plane-img img {
    border-radius: 4px;
    grid-column-start: 1;
    grid-column-end: 2;

}

.about-instructor {
    grid-column-start: 2;
    grid-column-end: 3;
}

.lessons {
    font-size: 80px;
    text-align: center;
    color: rgb(26, 60, 160);
}