@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500&display=swap");

body {
  font-family: "IBM Plex Sans", sans-serif;
  text-align: center;
  font-size: 35px;
}

input::placeholder {
  font-family: "IBM Plex Sans", sans-serif;
  text-align: center;
}

input {
  margin: 20px;
  height: 40px;
}

.business-list {
  border: #ffd02f 5px solid;
  border-radius: 10px;
  margin: 30px 110px 30px 110px;
  height: 200px;
  width: 750px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  font-family: "IBM Plex Sans";
  background-color: black;
  width: 125px;
  height: 40px;
  color: white;
  margin: auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  font-size: 35px;
}

.link-wrapper {
  margin: 10px;
}

/* unvisited link */
a:link {
  padding: 20px;
  text-decoration: none;
  color: black;
}

/* visited link */
a:visited {
  padding: 20px;
  text-decoration: none;
  color: black;
}

/* mouse over link */
a:hover {
  padding: 20px;
  text-decoration: none;
  color: darkslategray;
}

/* selected link */
a:active {
  padding: 20px;
  text-decoration: none;
  color: black;
}

.search-form {
  display: flex;
  flex-direction: column;
  font-size: 40px;
  grid-column-start: 1/2;
  width: 60%;
  margin: auto;
  line-height: 70px;
  padding-left: 80px;
}

.text-box {
  display: flex;
  flex-direction: column;
  font-size: 25px;
  grid-column-start: 1/2;
  /* width: 60%; */
  margin: auto;
  line-height: 70px;
  border: 2px solid black;
  border-radius: 10px;
  /* padding: 1px; */
}

.search-body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 125px;
}

.search-img {
  padding-right: 80px;
}

.profile-body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 125px;
}

.profile-img img {
  padding-right: 80px;
  object-fit: cover;
}

.review-list {
  display: flex;
  border: #ffd02f 2px solid;
  border-radius: 10px;
  margin-bottom: 110px;
  height: 250px;
  width: 700px;
  font-size: 20px;
  margin: auto;
}

.review-img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin: auto;
  padding: 10px;
}

.review-text {
  margin: auto;
  word-wrap: normal;
  width: 60%;
}

.profile-box {
  font-size: 35px;
  padding-left: 80px;
  margin: auto;
}

.profile-name {
  margin: 20px;
  height: 40px;
  font-size: 40px;
}

.profile-text {
  margin: 20px;
  height: 40px;
}

img {
  object-fit: cover;
  border-radius: 2%;
}

.business-listing {
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: space-evenly;
  font-size: 35px;
  width: 70%;
  padding-top: 125px;
}

.question {
  font-size: 30px;
  padding: 30px;
  padding-top: 75px;
}

.business-array-display {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 35px;
  padding-top: 75px;
}

.add-item-form-div {
  width: 60%;
  border: darkslategray solid 5px;
  margin: auto;
  margin-top: 30px;
  border-radius: 10px;
}

.add-item-form {
  display: flex;
  flex-direction: column;
  font-size: 40px;
  grid-column-start: 1/2;
  width: 60%;
  margin: auto;
  line-height: 70px;
  padding-bottom: 20px;
}
