body {
    background-color: black;
    font-family: 'Staatliches', cursive;
}

.flexdisplay {
    display: flex;
}

.title {
    font-size: 80px;
    color: white;
    text-align: center;
    justify-content: center;
    width: 400px;
    margin: auto;
}

.djbox {
    border: 3px solid white;
    width: 400px;
    margin: 30px 30px 30px 30px;
    background-color: white;
}   

.dj-image img{
    width: 400px;
}

.scroll {
    height: 1000px;
}


