@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");

body {
  margin: 0;
  border: 0;
  padding: 0;
  font-family: "Fjalla One", sans-serif;
  text-transform: uppercase;
  text-align: center;
}


.flowerA {
  background-color: pink;
  background-image: url(./flower1.jpg);
  height: 600px;
  background-repeat: no-repeat;
  background-position: center;
}

.flowerB {
  background-color: rgb(236, 201, 135);
  background-image:  url(./flower2.jpg);
  height: 600px;
  background-repeat: no-repeat;
  background-position: center;
}

.flowerC {
  background-color: rgba(189, 22, 22, 0.932);
  background-image: url(./flower3.jpg);
  height: 600px;
  background-repeat: no-repeat;
  background-position: center;
}

header {
  height: 60px;
  display: flex;
  justify-content: space-between;
  padding: 10px 40px 40px 40px;
  font-size: 25px;
}

a:link {
  color: black;
  text-decoration: none;
}

a:visited {
  color: black;
  text-decoration: none;
}

a:hover {
  color: white;
  text-decoration: none;
}

a:active {
  color: black;
  text-decoration: none;
}

select {
  background-color: white;
  color: black;
  border-radius: 10%;
  height: 50px;
  width: 150px;
  border: black solid 2px;
  position: absolute;
  bottom: 0;
  right: 0;
}