@import url(http://fonts.googleapis.com/css?family=Julius+Sans+One|Libre+Baskerville:400,400italic);

.container {
    display: grid;
    font-family: sans-serif;
    text-align: left;
    font-family: 'Libre Baskerville', serif;
    grid-template-rows: auto;
    grid-template-columns: 2fr 1fr;
    line-height: 30px;
}
.container > div {
    /* border: solid black 2px; */
}
.lithos-text {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 30px;
}
#info-section {
    padding-left: 120px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;

}
.zen-image img{
    width: 100%;
    /* grid-column-start: 1;
    grid-column-end: 3; */
    /* position: absolute; */
}
.zen-image2 img{
    display: none;
}
.headerL {
    background-color: #669177;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 40px;
    grid-column-start: 1;
    grid-column-end: 3;
    color: white;
}
/* .headerR {
    background-color: #669177;
    font-family: lithos-pro, sans-serif;
    font-size: 30px;
    grid-column-start: 2;
    grid-column-end: 3;
    color: white;
} */
.authors {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: #e5ede8;
    padding-top: 40px;
}
.authors-name {
    font-family: 'IM Fell Double Pica', serif;
    font-size: 17px;
    padding-left: 50px;
}
.title {
    padding-left: 50px;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 20px;
}
.links {
    background-color: #91b3a0;
    opacity: 70%;
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
#participation-benefits {
    background-color: #bed5c8;
    opacity: 70%;
    padding-left: 120px;
    line-height: 30px;
    font-family: 'Libre Baskerville', serif;
}
#requirements {
    padding-left: 120px;
    font-family: 'Libre Baskerville', serif;
}
.footer img{
    background-color: #3c685e;
    color: white;
    font-family: 'Libre Baskerville', serif;
    width: 100%;
    grid-row-start: 5;
    grid-row-end: 6;
    grid-column-start: 1;
    grid-column-end: 3; 
}
.footer2 {
    grid-row-start: 6;
    grid-row-end: 7;
    grid-column-start: 1;
    grid-column-end: 3; 
    background-color: #134347;
    height: 175px;
}
#blankSpace {
    background-color: #e5ede8;
}
@media (max-width: 900px){
    .zen-image img{
        display: none;
    }
    .zen-image2 img{
        width: 100%;
    }
    /* use this media query to help these two cells drop to the bottom when screens are smaller */
    
    .authors {
        /* grid-row: 9 */
        vertical-align: bottom;

   }
   .links {
        /* grid-row: 10 */
        vertical-align: bottom;
}
   /* container could use some help so that it's children are full screen width */
   .container {
      display: block;
      grid-template-columns: 100vw;
      grid-template-rows: auto;

   }
}

/* FLEX */
/* use flexbox to make the icons behave like css zen garden's social icons */
.icons {
    display: flex;
    justify-content: space-around;
    width: 70%;
    margin: auto;
    padding: 10px;
    background-color: #134347;
    align-items: center;
    height: 150px;
}

.icons > div {
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 50%;

}

