@import url('https://fonts.googleapis.com/css2?family=Poller+One&display=swap');

body {
  margin: 0;
  text-align: center;
  font-family: "Poller One", cursive;
  color: #001219;
  text-transform: uppercase;
}

